* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabs {
    width: 1024px;
    height: 350px;
    margin: 50px auto;
    font-family: sans-serif;
}

.tabs-items {
    display: inline-block;
    width: 201px;
    height: 30px;
    line-height: 30px;
    border: solid 2px black;
    text-align: center;
    border-radius: 40%;
}

.tabs-content-items {
    display: none;
    padding: 20px;
}

.active {
    background-color: mediumpurple;
    color: #23201D;
    border-bottom: none;
}